# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
.venv/
build/
dist/
*.egg-info/

# Sensitive & Secret Files
.env
.env.local
firebase-credentials.json

# IDE & Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
